:root {
  --primary: #042141;
  --text: #eae0d5;
  --secondary: #005f73;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

section {
  min-height: calc(100vh - 90px);
}

.container {
  max-width: 800px;
  margin-inline: auto;
  padding: 26px 0px;
  position: relative;
}

.section_heading {
  font-size: 29px;
  margin-bottom: 20px;
}

footer {
  background-color: var(--secondary);
  color: var(--text);
  padding: 30px 0;

  p {
    text-align: center;
    font-size: 19px;
  }
}

.registerLogin {
  width: 100%;
  height: 100vh;
  background: url("./assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.registerLogin_content {
  border: 1px solid var(--text);
  color: var(--text);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(14px);
  padding: 20px 26px;
  border-radius: 8px;
  width: 100%;
  max-width: 460px;
}

.registerLogin_content h3 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

.registerLogin_content .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  width: 100%;
}

.form input {
  width: 100%;
  outline: none;
  background: transparent;
  border: 1px solid var(--text);
  padding: 9px 14px;
  color: var(--text);
  font-size: 19px;

  &::placeholder {
    color: #ffffff75;
  }
}

#profileimg {
  display: none;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

label span {
  color: #ffffff75;
  font-size: 19px;
  font-weight: 500;
}

label img {
  width: 120px;
}

.form button {
  width: 100%;
  padding: 9px 14px;
  font-weight: 700;
  font-size: 19px;
  background-color: #005f73;
  border: 1px solid #005f73;
  color: #eae0d5;
  cursor: pointer;
  transition: 200ms;

  &:hover {
    background-color: #042141;
    border: 1px solid #042141;
  }
}

.form p {
  .link {
    color: #eae0d5;
    font-weight: 700;
  }
}

/* Navbar */
body {
  background-color: var(--primary);
  color: var(--text);
}

.card {
  margin: 50px;
  border: 1px solid var(--text);
  padding: 21px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(30px);

  img {
    width: 140px;
  }
}

nav {
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 32px;
}

nav h1 {
  color: var(--text);
  font-size: 36px;
}

.link {
  text-decoration: none;
}

.navlink {
  text-decoration: none;
  color: var(--text);
  font-size: 19px;
  font-weight: 600;
  transition: 200ms;
  position: relative;
}

.navlink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 0%;
  background-color: var(--primary);
  transition: 200ms;
}

.navlink:hover {
  color: #ffffff75;
}

.navlink:hover::after {
  width: 100%;
}

nav .links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

nav img {
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.signOut_btn {
  background-color: var(--secondary);
  border: none;
  padding: 12px 30px;
  color: var(--text);
  font-weight: 500;
  font-size: 23px;
  border-radius: 10px;
  transition: 200ms;
  position: absolute;
  right: 0;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px var(--secondary);
  }
}

/* Create Post Section */

.createPost_form h1 {
  font-size: 30px;
}

.createPost_form hr {
  border: none;
  background-color: var(--secondary);
  width: 90%;
  margin-inline: auto;
  height: 1px;
}

.createPost_form {
  max-width: 450px;
  width: 100%;
  margin-inline: auto;
  border: 1px solid var(--secondary);
  padding: 20px 0;
  margin-block: 70px;
  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.createPost_form div {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 85%;
  margin-inline: auto;

  input,
  button {
    width: 100%;
    outline: none;
    background: transparent;
    border: 1px solid var(--text);
    padding: 9px 14px;
    color: var(--text);
    font-size: 19px;

    &::placeholder {
      color: #ffffff75;
    }
  }

  button {
    background-color: var(--primary);
    transition: 200ms;

    &:hover {
      background-color: var(--secondary);
      cursor: pointer;
      box-shadow: 0 0 10px var(--secondary);
    }
  }

  label img {
    width: 80%;
  }
}

/* Post Card */
.post_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.postCard {
  padding: 20px;
  color: var(--text);
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid var(--secondary);
  border-radius: 10px;
}

.hr {
  border: none;
  height: 1px;
  background-color: var(--secondary);
  margin-bottom: 14px;
}

.author_details {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block: 14px;
  position: relative;
}

.trash {
  position: absolute;
  right: 0px;
  font-size: 26px;
  color: red;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffffff3f;
  cursor: pointer;
}

.author_details img {
  border-radius: 50%;
  width: 50px;
  cursor: pointer;
}

.postCaption {
  margin-block: 14px;
  font-size: 19px;
  color: #ffffffd3;
}

.postImg {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  cursor: pointer;
}

/* Author Details in Profile Page */
.author {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-block: 20px;
}

.author img {
  border-radius: 20px;
  width: 120px;
  border: 1px solid var(--secondary);
  padding: 6px;
  transition: 190ms;
  cursor: pointer;
}

.author img:hover {
  padding: 0;
}

.author h1 {
  color: #ffffff7b;
}

/* Modal */
.modal_container {
  position: fixed;
  left: 0px;
  right: 0;
  top: 0px;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  animation: fadeIn 600ms;
}

.model {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  border: 1px solid #fff;
  padding: 100px;
}

.modal h1 {
  cursor: pointer;
  font-size: 37px;
  position: absolute;
  right: 80px;
  top: 10px;
}

.modal h3 {
  text-align: center;
  margin-block: 23px;
}

.modal img {
  width: 50%;
  border: 1px solid #fff;
  margin-inline: auto;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/*  */
.btn__like_wrapper {
  margin-block: 10px;

  button {
    padding: 8px 34px;
    background-color: var(--secondary);
    border: none;
    color: var(--text);
    cursor: pointer;
  }
}

/* Media Queries */
@media (max-width: 801px) {
  .container {
    max-width: 97%;
  }
}

@media (max-width: 465px) {
  .registerLogin_content {
    max-width: 90%;
  }
}
